@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Poppins";

  font-display: swap;
  src: url("../fonts/poppins/Poppins-Regular.woff2") format("woff2"),
       url("../fonts/poppins/Poppins-Regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Poppins";

  font-display: swap;
  src: url("../fonts/poppins/Poppins-Medium.woff2") format("woff2"),
       url("../fonts/poppins/Poppins-Medium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Poppins";

  font-display: swap;
  src: url("../fonts/poppins/Poppins-Bold.woff2") format("woff2"),
       url("../fonts/poppins/Poppins-Bold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto";

  font-display: swap;
  src: url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"),
       url("../fonts/roboto/Roboto-Regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Roboto";

  font-display: swap;
  src: url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"),
       url("../fonts/roboto/Roboto-Medium.woff") format("woff");
}

:root {
  --color-mentol: #ECF7F3;
  --color-green: #48B774;
  --color-orange: #FF8345;
  --color-orange2: #FD905A;
  --color-orange-active: #FB9B69;
  --color-black: #2D2D2D;
  --color-white: #ffffff;
  --color-gray: #7c7c7c;
  --color-dark-gray: #4A4A4A;
  --color-medium-gray: #707070;
  --color-light-gray: #A1A1A1;
  --color-light: #E8E8E8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.page {
  margin: 0;
  background-color: var(--color-mentol);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  font-family: Poppins, Arial, sans-serif;
  font-size: 15px;
  line-height: 26px;
  color: var(--color-gray);
  font-weight: 500;
}

.button {
  display: flex;
  background-color: var(--color-green);
  color: #ffffff;
  text-decoration: none;
  justify-content: center;
  border: none;
  border-radius: 1000px;
  padding: 9px 20px;
  min-height: 42px;
  min-width: 55px;
  line-height: normal;
}

.page-header {
  display: flex;
  width: 1180px;
  padding: 30px 31px 30px 36px;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 118px;
}

.logo-link {
  display: inline-block;
  margin-right: auto;
}

.logo-conteiner {
  display: flex;
}

.header-navigation {
  margin-right: auto;
  margin-left: 67px;
}

.navigation-list {
  display: flex;
  min-width: 365px;
  padding: 0;
  margin: 0;
  list-style: none;
  padding-top: 8px;
}

.navigation-item {
  margin-bottom: 6px;
}

.navigation-item:not(:last-child) {
  margin-right: 42px;
}

.navigation-item.active {
  position: relative;
}

.navigation-item.active::after {
  content: "";
  width: 21px;
  height: 2px;
  background-color: var(--color-orange-active);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -4px;
}

.navigation-link {
  color:var(--color-dark-gray);
  text-decoration: none;
  font-weight: 400;
  line-height: normal;
  font-size: 16px;
}

.sign-up {
  margin-left: 42px;
  padding: 9px 23px;
}

.page-main {
  display: flex;
  width: 1180px;
  padding: 0 0 44px 39px;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 118px;
}

.hero-title {
  font-size: 48px;
  line-height: 65px;
  color: var(--color-black);
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 22px;
}

.emphasis {
  color: var(--color-orange);
}

.emphasis {
  text-decoration: none;
}

.hero-description {
  margin-top: 0;
  margin-bottom: 30px;
  width: 450px;
}

.hero-button {
  width: fit-content;
  padding: 11.5px 21px;
  margin-bottom: 50px;
}

.search-form {
  margin-bottom: 40px;
}

.search-group {
  position: relative;
  display: flex;
}

.search-field {
  height: 62px;
  width: 597px;
  padding: 21px 101px 21px 40px;
  border: none;
  border-radius: 1000px;
  color: #2D2D2D;
}

.search-field,
.search-field::placeholder {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.16px;
}

.search-field::placeholder {
  color: var(--color-light-gray);
  opacity: 1;
}

.search-button {
  position: absolute;
  width: 55px;
  height: 55px;
  right: 6px;
  top: 2.5px;
}

.search-button::before {
  content: url(../images/search-icon.svg);
  width: 55px;
  height: 55px;
  position: absolute;
  top: 0;
  left: 0;
}

.user-wrapper {
  display: flex;
}

.user-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  margin-right: 12px;
  height: fit-content;
}

.user-item {
  width: 38px;
  height: 38px;
}

.user-item:not(:last-child) {
  margin-right: -16px;
}

.user-item:first-child {
  position: relative;
  z-index: 5;
}

.user-item:nth-child(2) {
  position: relative;
  z-index: 4;
}

.user-item:nth-child(3) {
  position: relative;
  z-index: 3;
}

.user-item:nth-child(4) {
  position: relative;
  z-index: 2;
}

.user-link {
  display: inline-block;
  min-width: 38px;
  min-height: 38px;
}
.user-photo-container {
  display: flex;
  width: 38px;
  height: 38px;
}

.user-photo {
  border-radius: 50%;
  border: 3px solid var(--color-white);
}

.add-user {
  border-radius: 50%;
  border: 3px solid var(--color-white);
  background-color: var(--color-orange);
}

.add-user .user-link::before,
.add-user .user-link::after {
  content: "";
  background-color: var(--color-white);
  width: 13px;
  height: 2px;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.add-user .user-link::after {
  transform: translate(-50%) rotate(90deg);
}


.user-description {
  margin: auto 0;
  color: var(--color-medium-gray);
}

.animation-wrapper {
  margin-left: -115px;
  position: relative;
}

.animation-image-container {
  display: flex;
}

.circle {
  background-color: var(--color-green);
  border-radius: 50%;
  width: 280px;
  height: 280px;
  position: absolute;
  bottom: 204px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.circle-empty {
  background-color: transparent;
  border: 2px solid var(--color-light);
  border-radius: 50%;
  width: 450px;
  height: 450px;
  position: absolute;
  bottom: 151px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -3;
}

.flag-list {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  z-index: -2;
  left: 50%;
  bottom: 151px;
  transform: translateX(-50%);
  width: 450px;
  height: 450px;
}

.flag-item {
  width: fit-content;
  height: fit-content;
  position: absolute;
  transform: translate(-50%, -50%);
}

.flag-container {
  display: flex;
}

.flag-img {
  object-fit: cover;
  border-radius: 50%;
  outline: 10px solid var(--color-white);
}

.flag-item:nth-child(1) {
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%) rotateZ(255deg);
  transform-origin: 15px 240px;
  animation: flags-animation 10s infinite;
}

.flag-item:nth-child(1) .flag-container {
  transform: rotateZ(-255deg);
  animation: container-animation 10s infinite;
}

.flag-item:nth-child(2) {
  left: 30px;
  top: 117px;
}

.flag-item:nth-child(3) {
  left: 245px;
  top: 1px;
}

.flag-item:nth-child(4) {
  left: 421px;
  top: 122px;
}

.flag-item:nth-child(5) {
  left: 445px;
  top: 272px;
}

.flag-item:nth-child(6) {
  left: 205px;
  top: 449px;
}

.animation {
  
}
/* @keyframes flags-animation {
  from {
    left: 100%;
    top: 0;
  }
  10% {
    left: 0;
    top: 0;
  }
  20% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
  30% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes container-animation {
  to {
    transform: rotateZ(-255deg);
  }
} */
